.prodaction {
	width: 100%;
	margin: 0 auto;

	@media (max-width:$mobile) {
		display: none;
	}
}

.prodaction__flex {
	display: flex;
	justify-content: center;
	margin: 140px 10px 100px 10px;
}

.prodaction__flex-item {
	max-width: 100%;
}